<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/semantic.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/semantic.js"></script>
    <title>
        CENG 495 HW1
    </title>
</head>
<body>
    <div id="content" class="sticky-wrapper">
        <div class="ui grid">
            <div class="eight wide column">
                <img src="/images/metu.png" />
            </div>
            <div class="eight wide right aligned column">
                <img src="/images/ceng.png" />
            </div>
        </div>
    </div>


    <div class="ui container">
    <div id="content" class="ui stackable centered page grid">
        <div class="sixteen wide column">
            <div class="ui raised segment">
                <div class="ui gray ribbon label">
                    CLOUD COMPUTING HOMEWORK 1
                </div>
            </div>
        </div>

        <div class="twelve wide column">
            <div class="ui bottom attached active tab segment inttab">
                <div class="ui info message">
                    <div class="header" style="text-align: center">
                        Currency Converter Results
                    </div>
                    <div class="ui red massive message" style="text-align: center">{{first_amount}} = {{result_amount}}</div>
                    <div class="ui green huge message" style="text-align: center">{{firstf}} = {{secondf}}</div>
                </div>
            </div>
        </div>

    <div id="footer" class="sticky-footer">
    </div>
</body>
</html>
